<div class="updatePassword" id="updatePassword" ng-controller="updatePasswordCtrl">
    <div class="manage-title">
        <div class="manage-title-body">修改密码</div>
    </div>
    <div class="manage-ctn">
        <div class="manage-info">
            <div class="manage-info-body">
                <div class="manage-info-name">原密码</div>
                <div class="manage-info-input">
                    <input type="password" class="form-control" placeholder="请输入原密码" ng-model="form.passwordOld">
                </div>
            </div>
            <div class="manage-info-body">
                <div class="manage-info-name">新密码</div>
                <div class="manage-info-input">
                    <input type="password" class="form-control" placeholder="请输入新密码（密码不能少于六位）" ng-model="form.passwordNew">
                </div>
            </div>
            <div class="manage-info-body">
                <div class="manage-info-name">确认新密码</div>
                <div class="manage-info-input">
                    <input type="password" class="form-control" placeholder="请再次输入新密码" ng-model="form.confirm">
                </div>
            </div>
            <div class="manage-info-body">
                <div class="manage-info-btns">
                    <button class="saveBtn" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>