<div class="guide" id="guide" ng-controller="LoginCtrl">
    <h1 class="page-title">第三方与准道任务堂对接指引</h1>
    <ul class="timeline-center">
        <li class="tl-item">
            <div class="tl-wrap">
                <div class="tl-title">注册账号</div>
                <div class="tl-content">注册账号获取相应权限</div>
            </div>
            <div class="tl-wrap-change">
                <a href ng-click="toReg1()">成为商户</a>
            </div>
        </li>
        <li class="tl-item">
            <div class="tl-wrap">
                <div class="tl-title">配置参数</div>
                <div class="tl-content">进入控制台，创建新应用</div>
            </div>
            <div class="tl-wrap-change" ng-if="loginCode != 200">
                <script type="text/ng-template" id="loginModal.html">
                    <div ng-include="'tpl/loginModal.html'"></div>
                </script>
                <a href="" ng-click="open(2)">创建应用</a>
            </div>
            <div class="tl-wrap-change" ng-if="loginCode == 200">
                <a href="#/page/manage/apply">创建应用</a>
            </div>
        </li>
        <li class="tl-item">
            <div class="tl-wrap">
                <div class="tl-title">[开发者]调试API</div>
                <div class="tl-content">根据开发文档调试API</div>
            </div>
            <div class="tl-wrap-change">
                <a href="#/page/document/developKnow">开发文档</a>
            </div>
        </li>
        <li class="tl-item">
            <div class="tl-wrap">
                <div class="tl-title">发单授权、自助上线</div>
                <div class="tl-content">[开发者]改成调用线上接口</div>
            </div>
            <div class="tl-wrap-change no-border">
                <p>改成调用线上接口,完成上线</p>
                <a href="#/page/requireUrl">线上请求URL</a>
            </div>
        </li>
    </ul>
</div>